# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# TWELVE Data
backend/data/
backend/backend/data/cloned_repos/
backend/cloned_repos/
backend/evaluation/results/
backend/tests/validation_report.html

# Ignore all markdown files
*.md
!README.md
!**/README.md
