# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# TWELVE Data
backend/data/
backend/backend/data/cloned_repos/
backend/evaluation/results/
backend/tests/validation_report.html
